[submodule "webclient"]
	path = webclient
	url = https://github.com/pandoraboxchain/pyrrha-webclient
[submodule "boxproxy"]
	path = boxproxy
	url = https://github.com/pandoraboxchain/pyrrha-boxproxy
[submodule "boxplorer"]
	path = boxplorer
	url = https://github.com/pandoraboxchain/pyrrha-boxplorer
[submodule "consensus"]
	path = consensus
	url = https://github.com/pandoraboxchain/pyrrha-consensus
